---

layout: '../layouts/Layout.astro'
---

<section class="lightbox py-8">
  <div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold text-green-700 mb-8">Films</h1>
    <ul class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Films -->
      <li class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/images/rocky.avif" alt="Affiche du film Rocky" class="w-full h-64 object-cover">
      </li>
      <li class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/images/rush.jpg" alt="Affiche du film Rush" class="w-full h-64 object-cover">
      </li>
      <li class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/images/baseball_film.jpg" alt="Affiche du film Baseball" class="w-full h-64 object-cover">
      </li>
      <li class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/images/invictus.jpg" alt="Affiche du film Invictus" class="w-full h-64 object-cover">
      </li>
      <li class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="/assets/images/le-mans-66-1280x909.jpg" alt="Affiche du film Le Mans 66" class="w-full h-64 object-cover">
      </li>
    </ul>
  </div>
</section>
