---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="separator h-2 bg-[#0F2713] mb-4"></section>
  
  <section class="bandeau bg-[#CF3803] py-6 text-center text-[#E8914D]">
    <p class="text-lg">PRENEZ VOS PLACES DES MAINTENANT!</p>
    <a href="/billeterie" class="bg-[#0F2713] text-white py-2 px-4 rounded hover:bg-[#E8914D]">RESERVER</a>
  </section>

  <section class="actualite text-center my-8">
    <h2 class="text-3xl font-semibold">Actualites</h2>
    <div class="flex justify-center gap-8 mt-4">
      <div class="actualite__item">
        <img src="/assets/images/invitee.png" alt="Marie-Amélie Le Fur" class="actualite__image w-72 rounded-lg"/>
        <div class="actualite__sub">
          <h3 class="text-2xl text-[#0F2713]">MARIE-AMELIE LE FUR</h3>
          <p class="actualite__description text-[#0F2713]">Explique pourquoi ce festival l'a touché.</p>
        </div>
      </div>
      <div class="actualite__item">
        <img src="/assets/images/film.png" alt="The Fire Inside" class="actualite__image w-72 rounded-lg"/>
        <div class="actualite__sub">
          <h3 class="text-2xl text-[#0F2713]">THE FIRE INSIDE</h3>
          <p class="actualite__description text-[#0F2713]">Le film à ne pas louper.</p>
        </div>
      </div>
    </div>
  </section>
</Layout>


